[submodule "docs"]
	path = docs
	url = https://github.com/java-prolog-connectivity/java-prolog-connectivity.github.io
[submodule "parent-project"]
	path = parent-project
	url = https://github.com/java-prolog-connectivity/jpc.parent.git
