### Project specific
jsons.csv

### General
*.log
*.bak
*.orig

### Java
*.class
*.jar
*.war
*.ear

### Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next

### Eclipse
.classpath
.project
.metadata
.settings/

### IntelliJ
*.iml
.idea/
# codeStylesettings is influenced by local plugins
.idea/codeStyleSettings.xml
# These negations do not seem to work :-P
!.idea/runConfigurations/

### autoenv
.env
